<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Nodepop - <%= title %></title>

<script src="https://cdn.tailwindcss.com"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=League+Script&family=Outfit:wght@400;700&display=swap" rel="stylesheet">
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

<link rel="stylesheet" href="/stylesheets/index.css" />
<link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
<style>.font-outfit { font-family: 'Outfit', sans-serif; } .league-script-regular { font-family: 'League Script', cursive; }</style>
