: root {
  --color-text-dark: #292524;
  --color-text-medium: #57534e;
  --color-bg-light: #fafaf9;
  --color-accent-dark: #000000;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-bg-light);
    transition: background-color 0.3s;
}

.league-script-regular {
  font-family: 'League Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.header-title {
  font-size: 4rem;
  line-height: 1;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.subtitle-montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* Puedes añadir más estilos aquí, como un tamaño de texto más pequeño, por ejemplo: */
  font-size: 0.75rem; 
  letter-spacing: 0.05em; /* Espaciado sutil */
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
