.login-input-field:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 5rem;
  line-height: 1.1;
}

header nav p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
  line-height: 1.2;
  font-size: 0.9rem;
}
