body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--color-bg-light);
}
.league-script-regular {
  font-family: 'League Script', cursive;
  font-weight: 400;
  font-style: normal;
}
.header-title {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
}
.form-input {
  width: 100%;
  padding: 0.6rem 0.9rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition:
    border-color 0.15s,
    box-shadow 0.15s;
}
.form-input:focus {
  outline: none;
  border-color: #57534e;
  box-shadow: 0 0 0 1px #57534e;
}
.form-label {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-text-medium);
  margin-bottom: 0.25rem;
}
